* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color:lightsteelblue; 
    
}



/* header */
.header {
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightslategray; 
    color:turquoise;
    
    
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    background-color:cadetblue; 
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* header section end */

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 20px;
}

/* start of new section */


section {
    padding: 40px;
}

.hero {
    background-image: url(./background-image/about\ me\ .jpeg);
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex; 
}

/* sectio  a new *
.float-left {
    float: left;
    margin-right: 50px;
}

.float-right {
    float: right;
    margin-left: 50px;
}

/* hero section / About me box */
.intro{
    
    display: flex;
    align-items:center; 
    flex-wrap: wrap;
    background-image: url(./background-image/black\ backgrond.webp);
    height: 400px;
}

.intro h2 {
    font-size: 40px;
    text-align: left; 
    color: white;
    padding: 20px; 
}

.intro p {
    text-align: center;
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    color:white;
}
/*
.intro img {
    width: 15%;
    margin: 10px 0; 
    
}
*/


/* end of the hero section */ 

/* section for run buddy block */ 

/*
.run {
    width:max-content;
    display: inline-block;
}
*

.run-buddy {
    margin-bottom: 10px;
    padding: 20px;
    height: 300px;
    background-color: grey;
    color: black;
    background-image: url(./background-image/run\ buddy.png);
    
    right: 160px; 
}
/*
.run-buddy img {
    max-height: 220px;
    margin: 0 auto; 
}

.run-buddy h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.run p {
    color:black; 
}
*/ 



/* section to display previous work or projects */

.work {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin:0px auto;
    padding-left: 20px;
    
    

    
}

.work h2 {
    font-size: 40px;
    text-align: left; 
    clear:both; 
    margin-right: 150px; 
}


.sites {
    margin-bottom: 10px; 
    padding: 20px; 
    height: 180px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    color: black;
    display: inline-block; 
    width: 500px; 
    
    
    
}

.sites:hover {
    transform: scale(1.2);
    opacity: .75;
}

.run-buddy {
    background-image: url(./background-image/run\ buddy.png);
    border: 3px solid lightseagreen;
    height: 300px; 
    width: 1000px; 

}


.one {
    background-image: url(./background-image/Sep_01.png);
    border: 3px solid lightseagreen;
}

.two {
    background-image: url(./background-image/num\ 2.webp);
    border: 3px solid lightseagreen;

}

.three {
    background-image: url(./background-image/num\ 3.jpeg);
    border: 3px solid lightseagreen;
}

.four {
    background-image: url(./background-image/four.webp);
    border: 3px solid lightseagreen;
}


.sites img {
    max-height: 100px;
}

.sites p {
    margin-bottom: 20px;
    font-size: 20px; 
    color: black; 
}
/* end is previous work display section */

/* footer section starts here */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color:lightsteelblue; 
    border: 3px solid black;
}

.footer h2 {
    font-size: 40px;
    text-align:left;
}

.footer a {
    font-size: 20px;
    display: flex; 
    list-style-type: none;

}

/* footer section end */