* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}



/* header */
.header {
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2a607c; 
    color:turquoise;
    
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    background-color:cadetblue; 
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    

}

/* header section end */

a {
    color: whitesmoke;
    text-decoration: none;
}

p {
    font-size: 20px;
}

/* start of new section */


section {
    padding: 40px;
}

.hero {
    background-image: url(./background-image/hero\ img\ .jpeg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* sectio  a new */
.float-left {
    float: left;
    margin-right: 50px;
}

.float-right {
    float: right;
    margin-left: 50px;
}

/* hero section / About me box */
.intro{
    width: 125%; 
    margin-right: 20px;
    background-color:#2a607c;
    
}

.intro h2 {
    font-size: 40px;
    text-align: left; 
}

.intro p {
    text-align: center;
    width: 60%;
    font-size: 20px;
    margin: 0 auto; 
}

.intro img {
    width: 15%;
    margin: 10px 0; 
}



/* end of the hero section */ 

/* section for run buddy block */ 
.run {
    width:max-content;
    display: inline-block;
}


.run-buddy {
    margin-bottom: 10px;
    padding: 20px;
    height: 300px;
    background-color: grey;
    color: black;
}

.run-buddy img {
    max-height: 220px;
    margin: 0 auto; 
}

.run-buddy h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

/* section to display previous work or projects */
.work {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

.work h2 {
    font-size: 40px;
    text-align: left; 
}

.sites {
    margin-bottom: 20px; 
    padding: 20px; 
    height: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    color: black;
}

.sites img {
    max-height: 100px;
}

.sites h3 {
    margin-bottom: 20px;
    font-size: 20px; 
}
/* end is previous work display section */

/* footer section starts here */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color:#2a607c; 
}

.footer h2 {
    font-size: 40px;
    text-align:left;
}

/* footer section end */